pip install requests
pip install pynput
pip install scapy
pip install http
pip install requests=2.5.1
pip install netfilterqueue
pip install argparse
pip install pyinstaller
pip install optparse
pip install pybase64
pip install subprocess
pip install beautifulsoup4
